---
layout: default
title: Home
---

{% include profile.html %}

{% include tech-stack.html %}

<div class="post-list-container">
  <h3 style="margin-bottom: 20px">Recent projects</h3>
    
    {% for post in site.posts limit:10 %}

      <div class="related-posts">
        <a href="{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>

        <p>{{post.description}}</p>

        <ul class="post-tech-stack">
          {% for tech in post.techstack %}
          <li>{{tech}}</li>
          {% endfor %}
        </ul>

      </div>
      
    {% endfor %}
</div>

