.center {
	width: 100%;
	text-align: center;
}

.center-div {
	width: 90%;
	margin: auto;
}

.post-tech-stack {
	list-style-type: none;
}

.post-tech-stack li {
	padding: 3px 12px;
	border-radius: 2px;
	margin-right: 3px;
	margin-bottom: 8px;
	background: #e8e8e8;
	display: inline-block;
}

.tech-stack {
	width: 100%;
	text-align: center; 
}

@media (max-width: 58em) {
	.tech-logo {
		height: 30px;
		display: inline-block; 
		margin: 20px;
	}​
}

@media (min-width: 58em) {
	.tech-logo {
		height: 50px;
		display: inline-block; 
		margin: 20px;
	}​
}

.post-list-container {
	margin-top: 30px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid #eee
}

.post-list {
	margin-top: 20px;
}

h5 {
  text-decoration: italic;
  margin-top: 50px;
  margin-left: 20px;
}
