.center {
	width: 100%;
	text-align: center;
}

.center-div {
	width: 90%;
	margin: auto;
}

.tech-stack {
	width: 100%;
	text-align: center; 
}

@media (max-width: 58em) {
	.tech-logo {
		height: 30px;
		display: inline-block; 
		margin: 20px;
	}​
}

@media (min-width: 58em) {
	.tech-logo {
		height: 50px;
		display: inline-block; 
		margin: 20px;
	}​
}

.post-list-container {
	margin-top: 30px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid #eee
}

.post-list {
	margin-top: 20px;
}